#head {
    font-size: 60;
    color: darkgoldenrod;

}

.intro {
    font-size: medium;
}

.Upper {
    font-size: large;
}

.Box {
    display: inline-block;
    margin: 10px 10px;
    padding: 50px, 0px;
    width: 50px;
    height: 50 px;
}
.pic {
    display: block;
    margin: auto;
}
.backg {
    background-color: aquamarine;
    text-align: center;
}